registry=https://pkgs.dev.azure.com/somya2000/NEW-PROJECT/_packaging/trail-demo/npm/registry/ 
                        
always-auth=true

; begin auth token 
//pkgs.dev.azure.com/somya2000/NEW-PROJECT/_packaging/trail-demo/npm/registry/:username=somya2000 
//pkgs.dev.azure.com/somya2000/NEW-PROJECT/_packaging/trail-demo/npm/registry/:_password="YXF2Z3l5Y2NubmN0dHc0bzM3YjJjY3JwZjNmNGFxY3lrN3FwaWtkYnUzZ2F3Mm4yYWNpYQ=="
//pkgs.dev.azure.com/somya2000/NEW-PROJECT/_packaging/trail-demo/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/somya2000/NEW-PROJECT/_packaging/trail-demo/npm/:username=somya2000 
//pkgs.dev.azure.com/somya2000/NEW-PROJECT/_packaging/trail-demo/npm/:_password="YXF2Z3l5Y2NubmN0dHc0bzM3YjJjY3JwZjNmNGFxY3lrN3FwaWtkYnUzZ2F3Mm4yYWNpYQ=="
//pkgs.dev.azure.com/somya2000/NEW-PROJECT/_packaging/trail-demo/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
